numpy
pandas
scipy
scikit-learn

matplotlib
seaborn
plotly
bokeh
yellowbrick

jupyter
ipykernel
notebook
jupyter-contrib-nbextensions

dvc
dvc-s3

pyarrow
openpyxl
xlrd

statsmodels
lightgbm
xgboost

python-dotenv
pyyaml
tqdm
joblib
pillow

pytest
pytest-cov
pytest-mock

black
flake8
isort
pre-commit
